.u-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.u-text-black {
  font-weight: 900;
}

.u-text-bold {
  font-weight: 700;
}

.u-disabled {
  transform: translate3d(0,0,0)!important;
  justify-content: center;
}


.u-star-opacity{
  opacity: 0.5;
}

.u-overflow {
  height: 100vh;
  overflow: hidden;
}



