.u-white {
    color: #ffffff;
}

.u-secondary-200{
    color: palette(secondary, 200);
}

.u-primary-300{
    color: palette(text,300);
}

.u-primary-250{
    color: palette(text);
}

.u-primary-200 {
    color: palette(text,200); // nav, p, switch language
}

.u-primary-100 {
    color: palette(text,150); // p, footer links
}

.u-bg-primary-100{ 
    background-color: palette(primary,100);
}

.u-bg-primary-150{ 
    background-color: palette(primary,150);
}

.u-bg-primary-200{ 
    background-color: palette(primary,400);
}

.u-bg-primary-300{ 
    background-color: palette(primary);
}

.u-bg-secondary{
    background-color: palette(secondary,200);
}

.u-bg-gradient{
    background: linear-gradient(180deg, rgba(246, 247, 251, 0) 0%, #EAEBEF 44.79%);
}

