.c-titles__main{
	@include font(large, 46, 500);
	@include font-family(base);

	@include mq($md){
		@include font(large-l-md, 80, 500);
	}
}

.c-titles__secondary{
	position: relative;
	@include font(large-s, 53, 700);
	@include font-family(base);

	&:after{
		position: absolute;
		content: '';
		bottom: -7px;
		left: 0;

		width: 45px;

		border-top: 2px solid palette(primary);

		transition: all 2s ease-in .3s;
	}
}

.c-titles__tertiary{
	position: relative;
	@include font(mid-m, 30, 300);
	@include font-family(base);
	text-transform: uppercase;
	&:after{
		position: absolute;
		content: '';
		bottom: -7px;
		left: 0;

		width: 45px;

		border-top: 2px solid palette(primary);
	}
}