/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */

/**
 * Our base font-size and line-height
 */
$base-font-size: 18 !default;
$base-line-height: 24 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
        small: 10,
        small-s: 12,
        small-m: 13,
        small-l: 14,
        mid: 15,
        base: $base-font-size,
        mid-m: 20,
        mid-l: 24,
        large-s: 36,
        large: 35,
        large-m: 42,
        large-m-md: 45,
        large-l-sm: 48,
        large-l-md: 72,
     
);

/**
 *	Here we assign short names for the font families
 */
$font-oswald: 'Oswald', sans-serif;

$font-open-sans: 'Open Sans', sans-serif;

$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
        base: $font-oswald,
        secondary:$font-open-sans,
  // Fallback font
        system: $_font-system
);

