/* ==========================================================================
   Config settings
   ========================================================================== */

//  Main container width
$container-width : 1200px;
//$container-width-wide: 1280px;

// Predefined breakpoint
$xl : 1200;
$lg : 992;
$md : 768;
$sm : 576;
$xs : 375;

$laptop : 1440;

$wide : 75em;


