/* ==========================================================================
   Config settings
   ========================================================================== */

//  Main container width
$container-width : 1200px;
//$container-width-wide: 1280px;

// Default border radius values
$border-radius-small: 				20px;
$border-radius-medium: 				30px;
$border-radius-large: 				40px;

// Predefined breakpoint
$xl : 1200;
$lg : 992;
$md : 768;
$sm : 576;
$xs : 375;

$laptop : 1440;

$wide : 75em;


