.s-services{
	padding: 60px 0 80px;

	overflow-x: hidden;
	@include mq($md){
		padding: 130px 0;
	}

	.c-titles__secondary{
		position: relative;

		margin-bottom: 50px;

		letter-spacing: 3.072px;
		@include mq($lg){
			margin-bottom: 130px;
		}
	}

	&:hover{
		.c-titles__secondary{
			&::after{
				width: calc(100% + 150px);

				border-color: palette(secondary);
			}
		}
	}
}