.s-services{
	padding: 60px 0;

	@include mq($lg){
		padding: 130px 0;
	}

	.c-titles__secondary{
		position: relative;

		margin-bottom: 50px;

		letter-spacing: 3.072px;
		@include mq($lg){
			margin-bottom: 130px;
		}
	}

	&:hover{
		.c-titles__secondary{
			&::after{
				width: calc(100% + 40px);
        border-color: palette(secondary);
        
        @include mq($md){
          width: calc(100% + 150px);
        }
			}
		}
	}
}

.s-services__btn{
	height: 100%;

	@include mq($lg){
		margin-bottom: 25px;
	}
	.c-btn{
		padding: 16px;
		color: rgba(palette(primary),0.5);
		opacity: 1;
		z-index: 1;
		&:after{
			position: absolute;
			content: '';
			bottom: 0;
			left: -10px;
			z-index: 0;
			height: 50%;
			width: 100%;

			background-color: rgba(palette(secondary),0.5);
			transform: skew(-30deg, 0deg);

			transition: all .3s ease-in;
		}
		&:hover{
			color: rgba(palette(primary),1);
			&:after{
				left: 15px;
			}
		}
	}
}