.u-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.u-text-bold {
  font-weight: 900;
}

.u-disabled {
  transform: translate3d(0,0,0)!important;
  justify-content: center;
}




